
table,tr,td{
    
    border-left:1px solid black;
    border-right:1px solid black;
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    width:500px
}

td{
    padding:20px;    
    
}

th{
    background:black;
    padding:10px;
}
td + td{
    width:100px;
}
img{
    width:20px;
}
.bottomLine{
    border-bottom:1px solid black;
}
    