* {
  margin: 0px;
  padding: 0px;
}

.Homepagehero {
  margin:0px;
  padding: 0px;
  padding-top: 130px;
  background-image: url(https://s3.ap-south-1.amazonaws.com/wb-new/home-cover-1.jpg);
  background-size: cover;
  background-position: bottom;
  color: white;
  width: 100%;
  height: 100vh;
  text-align: center;
}
.Homepagehero h1 {
  font-size: 55px;
}
.Homepagehero button {
  padding: 10px 40px;
  margin: 50px 10px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  font-size: 16px;
}
.Homepagehero button:hover {
  background-color: black;
  transition: 400ms;
}
.Learnmore {
  padding-top: 30px;
}
.borderbottom {
  height: 7px;
  width: 110px;
  background-color: #f4d13b;
  margin: auto;
  margin-top: 5px;
}
.Justlaunch {
  margin: 60px;
  color: black;
}
.Seemore {
  background-color: #ff4200;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
}
.Seemore:hover {
  background-color: #ff8d64;
}
.Card {
  width:100%;
  border-radius: 7px;
  border: 2px solid #ecf0f1;
  margin: 0px;
  text-align: left;
}
.Card h5 {
  padding: 10px 0px;
  margin:0px 6px;
}
.Card button {
  padding: 5px 10px;
  background-color: #ecf0f1;
  margin: 20px;
  border: 1px solid #95a5a6;
  border-radius: 3px;
  font-size: 14px;
  color: black;
}
.modal {
  background-color: #f4d13b;
  opacity: 0.9;
  height: 100%;
  visibility: hidden;
}
.Img {
  border-radius: 7px;
  height: 180px;
  width: 100%;
  background-size: cover;
}
.Img:hover .modal {
  visibility: visible;
}
.modal button {
  padding: 10px 20px;
  margin-top: 80px;
  border: 1px solid white;
  border-radius: 3px;
  background-color: transparent;
  color: white;
}
.modal button:hover {
  background-color: white;
  color: black;
  opacity: 1;
}
.Services {
  background-color: #4fd198;
  display: flex;
  margin-top: 30px;
  padding: 20px 50px;
}
.Services div {
  margin: 0px 60px;
}
.Services h5 {
  color: white;
}
.Services img {
  height: 50px;
  width:50px
}
.Middiv {
  display: flex;
  margin: 50px 260px;
  box-shadow: 1px 1px 3px black;
  padding: 50px 50px;
  border-radius: 10px;
  background-color: white;
}
.Circle {
  padding: 70px 0px;
  width: 270px;
  border: 7px solid #4fd198;
  border-radius: 50%;
  color: #4fd198;
  font-size: 30px;
}
.Midinfo {
  text-align: left;
  margin: 40px 0px;
}
.Midinfo h2 {
  margin: 20px;
}
.Right {
  margin: 10px;
  color: #4fd198;
}
@media screen and (max-width:600px){
  .Services {
    background-color: #4fd198;
    display: flex;
    margin-top: 30px;
    padding: 5px 20px;
  }
  .Services div {
    margin:0px;
  }
  .Services h5 {
    color: white;
    font-size: 15px;
  }
  .Services img {
    height: 30px;
    width:30px
  }
  .Middiv {
    display: flex;
    margin: 50px 50px;
    box-shadow: 1px 1px 3px black;
    padding: 20px 20px;
    border-radius: 10px;
    background-color: white;
  }
  .Circle {
    padding: 15px;
    width: 100px;
    height: 100px;
    border: 2px solid #4fd198;
    border-radius: 50%;
    color: #4fd198;
    margin: 50px 0px;
  }
  .Circle h1{
    font-size: 15px;
  }
  .Circle h4{
    font-size: 15px;
  }
  .Midinfo {
    text-align: left;
    margin: 40px 0px;
  }
  .Midinfo h2 {
    margin: 20px;
    font-size:13px;
  }
  .Right {
    margin: 10px;
    color: #4fd198;
  }
}
.Storybox{
  display: flex;
}
.Story {
  height: 500px;
  width: 25%;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 50px;
}
.StoryTitle {
  font-size: 30px;
  text-align: center;
  padding-top: 400px;
  color: white;
}
.StoryDetail {
  visibility: hidden;
  border-radius: 10px;
  margin: 0px;
  text-align: center;
  height: 0px;
  padding-top: 90px;
}
.Story:hover .StoryTitle {
  display: none;
  padding-top: 0px;
}
.Story:hover .StoryDetail {
  visibility: visible;
  background-color: #f4d13b;
  transition: 400ms;
  margin: 0px;
  height: 100%;
  background-position: left bottom;
  opacity: 0.9;
}
@media screen and (max-width:600px){
  .Storybox{
    display: flex;
    flex-direction: column;
  }
  .Story {
    height: 500px;
    width: 80%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin: 30px auto;
  }
  .StoryTitle {
    font-size: 30px;
    text-align: center;
    padding-top: 400px;
    color: white;
  }
  .StoryDetail {
    visibility: hidden;
    border-radius: 10px;
    margin: 0px;
    text-align: center;
    height: 0px;
    padding-top: 90px;
  }
  .Story:hover .StoryTitle {
    display: none;
    padding-top: 0px;
  }
  .Story:hover .StoryDetail {
    visibility: visible;
    background-color: #f4d13b;
    transition: 400ms;
    margin: 0px;
    height: 100%;
    background-position: left bottom;
    opacity: 0.9;
  }
}
.Curated {
  display: flex;
  margin: 40px 80px;
}
.Content {
  height: 250px;
  margin: 10px;
  width: 250px;
  background-size: cover;
  background-color: white;
  border-radius: 10px;
}

.Contenteffect {
  background-color: yellow;
  visibility: hidden;
  border-radius: 10px;
  opacity: 0.8;
}
.Content:hover .Contenteffect {
  transition: 700ms;
  padding: 230px 0px 0px 0px;
  visibility: visible;
}
@media screen and (max-width:600px){
  .Curated {
    display: flex;
    margin: 40px 80px;
    flex-direction: column;
  }
  .Content {
    height: 250px;
    margin:30px auto;
    width: 250px;
    background-size: cover;
    background-color: white;
    border-radius: 10px;
  }
  
  .Contenteffect {
    background-color: yellow;
    visibility: hidden;
    border-radius: 10px;
    opacity: 0.8;
  }
  .Content:hover .Contenteffect {
    transition: 700ms;
    padding: 230px 0px 0px 0px;
    visibility: visible;
  }
}
